/**
 * Title: mccue-future-values.css
 * Author: Walter McCue
 * Date: 09/17/22
 * Description: Styling for mccue-future-values.html
 * References: WEB 330 GitHub; WEB 330 Assign_6;
*/

.danger {
    float: right;
    color: #df546a;
    font-size: 12px;
    letter-spacing: 2px;
}
.form-label {
    display: inline-block;
    padding-top: 1rem;
}